# Ignore everything
*

# Except the src folder
!/src/
!/src/**

# Also allow the .gitignore file itself
!.gitignore
!setup_pi.sh
!requirements.txt
!requirements.txt
!setup_pi.sh
!detect.tflite

# ignore pyc files

*.pyc
*.tflite
*.pt
*.onnx
*.npy
*.avi
*.mov
*.mp4